/* buttons colors */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(2.5rem); }
  100% {
    opacity: 1; } }

@keyframes headerBtnAnim {
  0% {
    left: 100%;
    background-color: rgba(52, 221, 0, 0.6); }
  40% {
    left: -55%;
    background-color: rgba(52, 221, 0, 0.6); }
  100% {
    width: 35rem;
    left: 0;
    background-color: rgba(52, 221, 0, 0.6); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  color: #646464; }

body {
  margin: 3rem;
  max-width: 1980px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh; }

h1 {
  font-size: 5.2rem; }

h2 {
  font-size: 4rem;
  font-weight: 700; }

h3 {
  font-size: 3rem;
  font-weight: 400; }

h4 {
  font-size: 2.4rem;
  font-weight: 400; }

h5 {
  font-size: 2rem;
  font-weight: 400; }

.heading-primary {
  margin-bottom: 1.8rem; }
  .heading-primary--main {
    display: block;
    line-height: 1.2;
    animation: moveInDown 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    animation: fadeIn 1.3s; }

.heading-secondary {
  display: inline-block;
  margin-top: 15vh;
  font-weight: 700;
  line-height: 1.2;
  color: transparent;
  background-image: linear-gradient(to right, #2372e9, #66bb5b); }

.about {
  text-align: center; }
  .about__welcome, .about__name {
    color: #646464;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3rem; }
  .about__name {
    display: inline-block;
    font-size: 3rem;
    color: #1156bd; }
  .about__content {
    margin-top: 2rem;
    font-style: italic;
    color: #646464; }

.feature-box__icon {
  display: inline-block;
  font-size: 7rem;
  background-color: #2372e9;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.feature-box__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  clear: both; }

.feature-box__text {
  font-size: 2rem;
  clear: both;
  margin-top: 2rem; }

.tours-main-heading {
  position: absolute;
  top: 8rem;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #909090; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-disp-table {
  display: table; }

.u-disp-table-cell {
  display: table-cell; }

.min-w-260 {
  min-width: 260px; }

.btn-big {
  display: inline-block;
  position: relative;
  height: 5rem;
  width: 25rem;
  background-color: #22aade;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
  animation: moveInUp 1s; }

.btn-big span {
  color: #fff;
  position: absolute;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translate(-50%, -50%); }

.btn-big:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 20rem;
  height: 5rem;
  border-radius: 5rem; }

.btn-big:hover:before {
  animation: headerBtnAnim 1s;
  animation-fill-mode: forwards; }

.btn-big:active {
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem); }

/*.composition {
    position: relative;
    display: block;
    &__photo {
        position: absolute;
        width: 300px;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
        transition: all .3s;
        z-index: 10;
        backface-visibility: hidden;
        &--p1 {
            left: -1rem;
            top: 1rem;
        }
        &--p2 {
            right: 0;
            top: -3rem;
        }
        &--p3 {
            top: 8rem;
            left: 14rem;
        }
        &:hover {
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.1);
            box-shadow: 0 2.5rem 3rem rgba($color-black, .5);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95) translateY(-1rem);
    }
}
*/
.composition {
  position: relative;
  display: block; }
  .composition__photo {
    position: absolute;
    width: 30rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    transition: all .3s;
    z-index: 10;
    backface-visibility: hidden; }
    .composition__photo--p1 {
      left: 10%;
      top: 1rem; }
    .composition__photo--p2 {
      top: -3rem;
      left: 40%; }
    .composition__photo--p3 {
      top: 8rem;
      left: 25%; }
    .composition__photo:hover {
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.1);
      box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95) translateY(-1rem); }

.feature-box {
  padding: 1.5vw 1vw 2vw 1vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  transition: transform 0.4s; }

.tours-box {
  position: relative;
  min-width: 250px;
  min-height: 58rem;
  margin: 10px 0 10px 0;
  color: #fff;
  perspective: 1500px;
  -webkit-perspective: 1500px; }
  .tours-box__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.35); }
    .tours-box__side--front {
      background-color: #fff; }
    .tours-box__side--back {
      transform: rotateY(180deg); }
      .tours-box__side--back-1 {
        background-image: linear-gradient(to right, rgba(14, 158, 180, 0.6), rgba(105, 215, 235, 0.61)); }
      .tours-box__side--back-2 {
        background-image: linear-gradient(to right, rgba(223, 47, 47, 0.6), rgba(255, 145, 145, 0.6)); }
      .tours-box__side--back-3 {
        background-image: linear-gradient(to right, rgba(54, 167, 19, 0.6), rgba(152, 238, 125, 0.6)); }
  .tours-box:hover .tours-box__side--front {
    transform: rotateY(-180deg); }
  .tours-box:hover .tours-box__side--back {
    transform: rotateY(0); }
  .tours-box__picture {
    background-size: cover;
    height: 25rem; }
    .tours-box__picture--1 {
      background-image: url(../img/tours-01.jpg); }
    .tours-box__picture--2 {
      background-image: url(../img/tours-02.jpg); }
    .tours-box__picture--3 {
      background-image: url(../img/tours-03.jpg); }
  .tours-box__heading {
    position: absolute;
    top: 9.8rem;
    left: 0;
    padding: 0 2.2rem 0 2.2rem;
    text-transform: uppercase; }
    .tours-box__heading--1 {
      background-image: linear-gradient(to right, rgba(9, 123, 143, 0.6), rgba(105, 215, 235, 0.6)); }
    .tours-box__heading--2 {
      background-image: linear-gradient(to right, rgba(211, 41, 41, 0.6), rgba(255, 145, 145, 0.6)); }
    .tours-box__heading--3 {
      background-image: linear-gradient(to right, rgba(50, 160, 17, 0.6), rgba(160, 255, 131, 0.6)); }
  .tours-box__info {
    padding: 4rem 2rem 4rem 2rem;
    font-size: 1.8rem;
    color: #808080;
    text-align: center; }
    .tours-box__info > ul {
      min-width: 80%;
      margin: 0 auto;
      list-style: none; }
      .tours-box__info > ul > li:not(:last-child) {
        border-bottom: 1px solid #eee; }
      .tours-box__info > ul > li {
        padding: 1rem; }
  .tours-box__back-block {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.back-block__only {
  font-size: 2rem;
  text-transform: uppercase; }

.back-block__price {
  font-size: 6rem; }

.back-block__button {
  margin: 10rem auto 0 auto;
  text-transform: uppercase;
  font-size: 4rem;
  width: 80%;
  border-radius: 100px;
  background-color: #fff;
  -webkit-box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4); }
  .back-block__button-1 {
    color: rgba(9, 123, 143, 0.6); }
  .back-block__button-2 {
    color: rgba(211, 41, 41, 0.6); }
  .back-block__button-3 {
    color: rgba(50, 160, 17, 0.6); }

.row {
  width: 100%;
  margin: 0 auto;
  max-width: 140rem; }
  .row::after {
    content: "";
    clear: both;
    display: block; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((99% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.row-no-margin {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto; }

.row-flex {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 140rem; }
  .row-flex:not(:last-child) {
    margin-bottom: 8rem; }
  .row-flex [class^="col-"] {
    float: left; }
    .row-flex [class^="col-"]:not(:last-child) {
      margin-right: 12rem; }
  .row-flex .col-1-of-3-bigger-margin {
    width: calc((100% - 2 * 12rem) / 3); }

.col-1-of-2-nm {
  width: 50%;
  float: left; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(35, 114, 233, 0.7), rgba(95, 175, 200, 0.7)), url(../img/bg_img_01.jpg);
  background-size: cover;
  background-position: 70% 25%; }
  .header__logo-box {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 6rem;
    left: 9rem; }
  .header__text-btn-box {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    color: #fff;
    backface-visibility: hidden; }

.section-about {
  min-height: 70vh;
  background-color: #f5f5f5;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section-about .about {
    max-width: 70rem; }

.section-features {
  min-height: 75vh;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: plum;
  background-image: linear-gradient(rgba(43, 194, 101, 0.3), rgba(43, 194, 101, 0.3)), url(../img/feature_bg_01.jpg);
  background-size: cover;
  background-position: center; }

.section-tours {
  min-height: 75vh;
  padding: 20rem 6rem 6rem 6rem;
  position: relative;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
