@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/popup";
@import "components/story";
@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "pages/home";
.section-about {
    background-color: $color-grey-light-1;
    min-height: 65vh;
    padding: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .about {
        max-width: 70rem;
    }
}

.section-features {
    min-height: 65vh;
    padding: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: plum;
    background-image: linear-gradient( rgba(43, 194, 101, 0.3), rgba(43, 194, 101, 0.3)), url(../img/feature_bg_01.jpg);
    background-size: cover;
}