.header {
    position: relative;
    height: 95vh;
		background-image: linear-gradient(to bottom, rgba(35, 114, 233, 0.7), rgba(43, 194, 101, 0.6)), url(../img/bg_img_01.jpg);
		background-size: cover;
    background-position: 70% 25%;
    &__logo-box {
        height: 6rem;
        width: 6rem;
        position: absolute;
        top: 6rem;
        left: 9rem;
    }
    &__text-btn-box {
        position: absolute;
        top: 40%;
        left: 10%;
        right: 10%;
        color: #fff;
        backface-visibility: hidden;
    }
}