.btn {
    &-big {
        display: inline-block;
        position: relative;
        height: 5rem;
        width: 25rem;
        background-color: $color-btn-bg;
        overflow: hidden;
        backface-visibility: hidden;
        border-radius: 50px;
        animation: moveInUp 1s;
    }
    &-big span {
        color: #fff;
        position: absolute;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        white-space: nowrap;
        transform: translate(-50%, -50%);
    }
    &-big:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 20rem;
        height: 5rem;
        border-radius: 5rem;
    }
    &-big:hover:before {
        animation: headerBtnAnim 1s;
        animation-fill-mode: forwards;
    }
    &-big:active {
        -webkit-transform: translateY(0.1rem);
        transform: translateY(0.1rem)
    }
}