.tours-box {
    position: relative;
    min-width: 250px;
    min-height: 58rem;
    margin: 10px 0 10px 0;
    color: #fff;
    perspective: 1500px;
    -webkit-perspective: 1500px;
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.35);
        &--front {
            background-color: #fff;
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right, rgba(14, 158, 180, 0.6), rgba(105, 215, 235, 0.61));
            }
            &-2 {
                background-image: linear-gradient(to right, rgba(223, 47, 47, 0.6), rgba(255, 145, 145, 0.6));
            }
            &-3 {
                background-image: linear-gradient(to right, rgba(54, 167, 19, 0.6), rgba(152, 238, 125, 0.6)); //background-color: rgba(80, 180, 50, 0.6);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        height: 25rem;
        &--1 {
            background-image: url(../img/tours-01.jpg);
        }
        &--2 {
            background-image: url(../img/tours-02.jpg);
        }
        &--3 {
            background-image: url(../img/tours-03.jpg);
        }
    }
    &__heading {
        position: absolute;
        top: 9.8rem;
        left: 0;
        padding: 0 2.2rem 0 2.2rem;
        text-transform: uppercase;
        &--1 {
            background-image: linear-gradient(to right, rgba(9, 123, 143, 0.6), rgba(105, 215, 235, 0.6));
        }
        &--2 {
            background-image: linear-gradient(to right, rgba(211, 41, 41, 0.6), rgba(255, 145, 145, 0.6));
        }
        &--3 {
            background-image: linear-gradient(to right, rgba(50, 160, 17, 0.6), rgba(160, 255, 131, 0.6));
        }
    }
    &__info {
        padding: 4rem 2rem 4rem 2rem;
        font-size: 1.8rem;
        color: #808080;
        text-align: center;
        &>ul {
            min-width: 80%;
            margin: 0 auto;
            list-style: none;
            &>li:not(:last-child) {
                border-bottom: 1px solid #eee;
            }
            &>li {
                padding: 1rem;
            }
        }
    }
    &__back-block {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.back-block {
    &__only {
        font-size: 2rem;
        text-transform: uppercase;
    }
    &__price {
        font-size: 6rem;
    }
    &__button {
        margin: 10rem auto 0 auto;
        text-transform: uppercase;
        font-size: 4rem;
        width: 80%;
        border-radius: 100px;
        background-color: #fff;
        -webkit-box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 10px 16px 0px rgba(0, 0, 0, 0.4);
        &-1 {
            color: rgba(9, 123, 143, 0.6);
        }
        &-2 {
            color: rgba(211, 41, 41, 0.6);
        }
        &-3 {
            color: rgba(50, 160, 17, 0.6);
        }
    }
}