    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    html {
        font-size: 10px;
        color: $color-grey-dark-1;
    }

    body {
				max-width: 1980px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color:#fff;
    }