.u-text-center {
    text-align: center;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem;
}

.u-disp-table {
	display: table;
}
.u-disp-table-cell {
	display: table-cell;
}

.min-w-260 {
	min-width: 260px;
}